/* defines the color themes for the site */
style:root {
  --bg-primary: #f1e8d4;
  --bg-accent: #f1e8d4;
  --bg-level: #cae3f6;
  --action: black;
  --border: black;
  --text-on-primary: black;
  --text-on-accent: black;
  --text-on-action: #f1e8d4;
}

[data-theme=cream] {
  --bg-primary: #eae2d0;
  --bg-accent: #d5c5b4;
  --bg-level: #b5d4f0;
  --action: #2d2a26;
  --border: #2d2a26;
  --text-on-primary: #2d2a26;
  --text-on-accent: #2d2a26;
  --text-on-action: #eae2d0;
}

[data-theme=blue] {
  --bg-primary: #95b2e9;
  --bg-accent: #647ec2;
  --bg-level: #bcd4e6;
  --action: #2d313f;
  --border: #2d313f;
  --text-on-primary: #2d313f;
  --text-on-accent: #2d313f;
  --text-on-action: #bcd4e6;
}

[data-theme=coffee] {
  --bg-primary: #2f271b;
  --bg-accent: #765d41;
  --bg-level: #765d41;
  --action: #dad0b0;
  --border: #dad0b0;
  --text-on-primary: #dad0b0;
  --text-on-accent: #dad0b0;
  --text-on-action: #2f271b;
}

[data-theme=sailor] {
  --bg-primary: #0d0d32;
  --bg-accent: #d7c0a7;
  --bg-level: #d7c0a7;
  --action: #d7c0a7;
  --border: #d7c0a7;
  --text-on-primary: #d7c0a7;
  --text-on-accent: #0d0d32;
  --text-on-action: #0d0d32;
  --selection: black;
}

[data-theme=mahogany] {
  --bg-primary: #2a0c0d;
  --bg-accent: #551c1d;
  --bg-level: #d2baa5;
  --action: #d2baa5;
  --border: #d2baa5;
  --text-on-primary: #d2baa5;
  --text-on-accent: #d2baa5;
  --text-on-action: #2a0c0d;
  --selection: black;
}

[data-theme=blackandwhite] {
  --bg-primary: black;
  --bg-accent: #303030;
  --bg-level: white;
  --action: white;
  --border: white;
  --text-on-primary: white;
  --text-on-accent: white;
  --text-on-action: black;
  --selection: black;
}

/* MAIN VARIABLES */
/* SECTION main styles */
* {
  color: var(--text-on-primary);
  scrollbar-width: none;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  font-family: Fredoka, sans-serif;
  margin: 0;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

/* SECTION styles for all svgs  */
.svg {
  transition: transform 500ms ease-out;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text-on-primary);
  height: 50px;
  width: 50px;
}
.svg:active {
  transform: scale(0.9);
}

* {
  color: var(--text-on-primary);
}

body {
  background-color: var(--bg-primary);
  font-weight: 500;
  margin: 0;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
}

nav {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

nav h1 {
  font-weight: 500;
  font-size: 35px;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.login h1 {
  font-weight: 400;
  font-size: 40px;
  justify-self: center;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 20px;
  padding: 7px;
}

.login input {
  margin: 7px;
  background-color: var(--bg-primary);
  border: 3px solid var(--border);
  border-radius: 17px;
  width: min(400px, 95vw);
  height: 25px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.login input:-webkit-autofill {
  background-color: var(--bg-primary) !important;
}

.login input[type=submit] {
  width: 100px;
  background-color: var(--action);
  color: var(--text-on-action);
  height: 33px;
  border: none;
  -webkit-text-fill-color: var(--bg-primary);
  /* styles the placeholder */
  font-size: 20px;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-bottom a {
  color: var(--action);
  margin-right: 7px;
}

label.error-text {
  color: white;
  margin: 7px;
  padding: 1px;
  padding-left: 10px;
  height: 25px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 17px;
  background-color: rgba(255, 0, 0, 0.4);
}

label.error-text:empty {
  display: none;
}

.title {
  font-size: 35px;
  font-weight: 500;
  color: var(--text-on-primary);
  text-decoration: none;
}

.oauth {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hack-club-oauth {
  border: 3px solid var(--border);
  height: 25px;
  padding: 1px 10px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7px;
  cursor: pointer;
  color: var(--text-on-primary);
  text-decoration: none;
}

.hack-club-oauth div {
  font-size: 20px;
  color: var(--text-on-primary);
  text-decoration: none;
}

/*# sourceMappingURL=login.css.map */
