/* MAIN VARIABLES */

$border-width: 3px;

/* SECTION main styles */
* {
  color: var(--text-on-primary);
  scrollbar-width: none;
}

body {
  background-color: var(--bg-primary);
  font-family: "Fredoka", sans-serif;
  margin: 0;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

/* SECTION styles for all svgs  */

.svg {
  transition: transform 500ms ease-out;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text-on-primary);
  height: 50px;
  width: 50px;

  &:active {
    transform: scale(0.9);
  }
}
