style:root {
  --bg-primary: #f1e8d4;
  --bg-accent: #f1e8d4;
  --bg-level: #cae3f6;

  --action: black;

  --border: black;

  --text-on-primary: black;
  --text-on-accent: black;
  --text-on-action: #f1e8d4;
}

[data-theme="cream"] {
  --bg-primary: #eae2d0;
  --bg-accent: #d5c5b4;
  --bg-level: #b5d4f0;

  --action: #2d2a26;

  --border: #2d2a26;

  --text-on-primary: #2d2a26;
  --text-on-accent: #2d2a26;
  --text-on-action: #eae2d0;
}

[data-theme="blue"] {
  --bg-primary: #95b2e9;
  --bg-accent: #647ec2;
  --bg-level: #bcd4e6;

  --action: #2d313f;

  --border: #2d313f;

  --text-on-primary: #2d313f;
  --text-on-accent: #2d313f;
  --text-on-action: #bcd4e6;
}

[data-theme="coffee"] {
  --bg-primary: #2f271b;
  --bg-accent: #765d41;
  --bg-level: #765d41;

  --action: #dad0b0;

  --border: #dad0b0;

  --text-on-primary: #dad0b0;
  --text-on-accent: #dad0b0;
  --text-on-action: #2f271b;
}

[data-theme="sailor"] {
  --bg-primary: #0d0d32;
  --bg-accent: #d7c0a7;
  --bg-level: #d7c0a7;

  --action: #d7c0a7;

  --border: #d7c0a7;

  --text-on-primary: #d7c0a7;
  --text-on-accent: #0d0d32;
  --text-on-action: #0d0d32;
  --selection: black;
}

[data-theme="mahogany"] {
  --bg-primary: #2a0c0d;
  --bg-accent: #551c1d;
  --bg-level: #d2baa5;

  --action: #d2baa5;

  --border: #d2baa5;

  --text-on-primary: #d2baa5;
  --text-on-accent: #d2baa5;
  --text-on-action: #2a0c0d;
  --selection: black;
}

[data-theme="blackandwhite"] {
  --bg-primary: black;
  --bg-accent: #303030;
  --bg-level: white;

  --action: white;

  --border: white;

  --text-on-primary: white;
  --text-on-accent: white;
  --text-on-action: black;
  --selection: black;
}
