body {
  background-color: #C29A62;
  font-family: "Press Start 2P", monospace;
}

.title {
  font-size: 25px;
  padding: 20px;
  justify-self: center;
}

.game {
  aspect-ratio: 16 / 9;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 800px;
  border: 4px solid black;
  justify-self: center;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}